<template>
  <StackLayout class="item" :marginBottom="marginBottom">
    <image :src="img" v-if="img" @tap="tapItem(id)" />
    <HtmlView
      class="name"
      :html="`<font size='${fontSize*.5}'>${html}</font>`"
      @tap="tapItem(id)"
    />
  </StackLayout>
</template>

<script>
import { isIOS } from "tns-core-modules/platform";
export default {
  name: "ItemList",
  props: {
    id: {
      type: [String, Number],
      default: null
    },
    html: {
      type: String,
      default: ""
    },
    img: {
      type: [String, Boolean],
      default: false
    }
  },
  data: () => ({
    fontSize: 14
  }),
  computed: {
    marginBottom() {
      if (isIOS) return -10;
      return 0;
    }
  },
  created() {
    global.itemList = this;
    if (localStorage.getItem("fontSize")) {
      this.fontSize = Number.parseInt(localStorage.getItem("fontSize")) || 14;
    }
  },
  methods: {
    tapItem(id) {
      this.$emit("tapItem", id);
    }
  }
};
</script>

<style lang="scss" scoped>
.item {
  padding-top: 10;
  padding-bottom: -20;
  padding-left: 10;
  padding-right: 10;
  margin-bottom: 5;
  background-color: rgba(0, 0, 0, 0.02);
  /*border-width: 1px;
    background-color: grey;*/

  image {
    margin-bottom: 10;
  }
}
</style>