<template>
    <GridLayout class="page-content" rows="*">
        <ScrollView v-if="current" class="wrap-context">
            <StackLayout :minHeight="height">
                <VideoPlayer
                    :src="video" autoplay="true"
                    height="200" v-if="video" ref="video" />
                <Image ref="img" :src="img" v-if="!video && img" height="200" stretch="aspectFill" />
                <HtmlView class="name" key="name" ref="name" :marginBottom="marginBottomName" :html="`<b><font size='${fontSize}'>${current.name.trim()}</font></b>`" />
                <HtmlView class="desc" key="desc" ref="desc" :marginBottom="marginBottomDesc" :html="`<font size='${fontSize*.8}'>${current.desc.trim()}</font>`" />
                <StackLayout class="wrap-items" v-if="listOfItems.length">
                    <StackLayout>
                        <itemList v-for="(item, index) in listOfItems" :key="`item-${index}`" :img="item.img" :html="item.name" :id="item.id" @tapItem="tapItem" ref="ItemList" />
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ScrollView>
        <FlexboxLayout class="loader" v-if="isLoading">
            <ActivityIndicator busy="true"/>
        </FlexboxLayout>
    </GridLayout>
</template>

<script>
    import itemList from "./itemList";
    import PageHome from "./Home";
    const platformModule = require("tns-core-modules/platform");
    import { screen, isIOS } from "tns-core-modules/platform";

    export default {
        components: {itemList},
        name: 'View',
        props: {
            id: {
                type: Number,
                default: null,
            }
        },
        created() {
            this.height = screen.mainScreen.heightDIPs
            if (localStorage.getItem('fontSize')) {
                this.fontSize = Number.parseInt(localStorage.getItem('fontSize')) || 14
            }
        },
        async mounted() {
            if (this.id == null) {
                await this.$store.dispatch('load', 'first')
            }
            if (!this.$store.getters.itemById(this.id)) {
                await this.$store.dispatch('load', this.id)
            }
            global.Home = this
            this.isLoading = false

            try {
                this.$refs.name.nativeView._androidView.setTextSize(20)
                //this.$refs.name.nativeView._iosView.setTextSize(20)
                this.$refs.desc.nativeView._androidView.setTextSize(16)
                for (let item of this.$refs.ItemList) {
                    item.nativeView._androidView.setTextSize(16)
                }
            } catch(err) {

            }
        },
        data: () => ({
            isLoading: true,
            height: 0,
            fontSize: 14,
        }),
        computed: {
            marginBottomName() {
                if (platformModule.isIOS) {
                    return -60
                }
                return -25
            },
            marginBottomDesc() {
                if (platformModule.isIOS) {
                    return -25
                }
                return -10
            },
            current() {
                return this.$store.getters.parent(this.id)
            },
            video() {
                if (!this.current) return false;
                if (this.current.VideoBig) return this.current.VideoBig
                if (this.current.VideoSmall) return this.current.VideoSmall
                return false
            },
            img() {
                if (!this.current) return false;
                if (this.current.img) return this.current.img;
                return false
            },
            listOfItems() {
                if (this.current)
                    return this.$store.getters.childrens(this.current.id)
                return []
            }
        },
        methods: {
            async tapItem(id) {
                let item = this.listOfItems.find(item => item.id == id)
                if (item.to) id = item.to
                id = Number.parseInt(id)
                this.$navigateTo(PageHome, {props: {id}})
            },
        }
    };
</script>

<style scoped lang="scss">
    // Start custom common variables
    @import '../app-variables';
    // End custom common variables

    // Custom styles
    .loader {
        align-items: center;
        justify-content: center;
    }
    .wrap-context {
        padding-top: 10;
        flex-direction: column;
        margin: 10;
        .name {
            //font-size: 30;
            //margin-bottom: -25;
        }

        .desc {
            //font-size: 16;
            //margin-bottom: -10;
        }

        .wrap-items {
            /*flex-direction: column;*/
        }
        .Item {
            //margin-top: 10;
            //margin-bottom: -25;
        }
    }
</style>