<template>
  <Page class="page">
    <ActionBar class="action-bar">
      <!-- 
            Use the NavigationButton as a side-drawer button in Android
            because ActionItems are shown on the right side of the ActionBar
      -->
      <NavigationButton ios:visibility="collapsed" icon="res://menu" @tap="onDrawerButtonTap"></NavigationButton>
      <!-- 
            Use the ActionItem for IOS with position set to left. Using the
            NavigationButton as a side-drawer button in iOS is not possible,
            because its function is to always navigate back in the application.
      -->
      <ActionItem
        icon="res://navigation/menu"
        android:visibility="collapsed"
        @tap="onDrawerButtonTap"
        ios.position="left"
      ></ActionItem>
      <Label class="action-bar-title" text="Настройки"></Label>
    </ActionBar>

    <GridLayout class="page-content" columns="*" rows="auto, *">
      <FlexboxLayout class="fontSizeControl">
        <button @tap="updateFontSize('-')">-</button>
        <Label :text="fontSize" textWrap="true" />
        <button @tap="updateFontSize('+')">+</button>
      </FlexboxLayout>
    </GridLayout>
  </Page>
</template>

<script>
import * as utils from "~/shared/utils";
import SelectedPageService from "../shared/selected-page-service";

export default {
  props: {},
  data: () => ({
    fontSize: 14
  }),
  mounted() {
    SelectedPageService.getInstance().updateSelectedPage("Settings");
    if (localStorage.getItem('fontSize')) {
        this.fontSize = Number.parseInt(localStorage.getItem('fontSize')) || 14
    }
  },
  computed: {
    message() {
      return "<!-- Page content goes here -->";
    }
  },
  methods: {
    onDrawerButtonTap() {
      utils.showDrawer();
    },
    updateFontSize(to) {
      try {
        if (to == "+" && this.fontSize < 30) this.fontSize++;
        if (to == "-" && this.fontSize > 5) this.fontSize--;
        localStorage.setItem("fontSize", this.fontSize);
      } catch (error) {
          console.log({error})
      }
    }
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app-variables";
// End custom common variables

// Custom styles
.fontSizeControl {
  padding-top: 50px;
  align-items: center;
  justify-content: center;

  label {
    width: 200px;
    text-align: center;
  }

  button {
    padding: 10px;
    background-color: rgba(168, 168, 168, 0.205);
  }
}
</style>